player-connection-mode=Listen
player-connection-guid=3822363849
player-connection-debug=0
player-connection-project-name=Multi_NumberBase_Game
player-connection-ip=211.32.63.64
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cd03c9fe05014b1a85b88b5360b082e9
